.track{
  background: url('wback1.jpg');
border: 1px solid black;
height:350px;
width:1050px;
position: relative;;
margin: auto;

}

.boat1{
position: absolute;
background: url('boat1.png');
width: 150px;
height: 143px;
bottom: auto;

}

.boat2{
position: absolute;
background: url('boat2.png');
width: 150px;
height: 143px;
bottom: 14%;

}
body{
  text-align: center;
}
.boat2parent{
  text-align: right;
  
}
.boat1parent{

  text-align: left;
}
